@model Drip.Webapp.Models.DashboardModels.ChartViewModel;

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js" />

<body>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>

    <body>
        @{ 
            int Jan = Convert.ToInt32(Model.Result[0]);
            int Feb = Convert.ToInt32(Model.Result[1]);
            int Mar = Convert.ToInt32(Model.Result[2]);
            int Apr = Convert.ToInt32(Model.Result[3]);
            int Mei = Convert.ToInt32(Model.Result[4]);
            int Jun = Convert.ToInt32(Model.Result[5]);
            int Jul = Convert.ToInt32(Model.Result[6]);
            int Aug = Convert.ToInt32(Model.Result[7]);
            int Sep = Convert.ToInt32(Model.Result[8]);
            int Okt = Convert.ToInt32(Model.Result[9]);
            int Nov = Convert.ToInt32(Model.Result[10]);
            int Dec = Convert.ToInt32(Model.Result[11]);
        }
        
            <div class="container">
                <canvas id="myChart"></canvas>
            </div>

            <script>
                let myChart = document.getElementById('myChart').getContext('2d');

                let barChart = new Chart(myChart, {
                    type: 'bar',
                    data: {
                        labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
                        datasets: [{
                            label: 'Positieve maand',
                            data: [
                                @Jan,
                                @Feb,
                                @Mar,
                                @Apr,
                                @Mei,
                                @Jun,
                                @Jul,
                                @Aug,
                                @Sep,
                                @Okt,
                                @Nov,
                                @Dec
                            ],
                            backgroundColor: 'rgb(57,95,207)',
                            borderWidth:1,
                            borderColor:'#777',
                            hoverBorderWidth:3,
                            hoverBorderColor:'#000'
                        }]
                    },
                    options: {}
                });
            </script>
        </body>
</body>