@model Drip.Webapp.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @Html.DisplayFor(model => model.users)
</div>
</body>
</html>